<?xml version="1.0"?>
<model>
  <name>elm4s</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Benjamin Perseghetti</name>
    <email>bperseghetti@rudislabs.com</email>
  </author>
  <description>A model of the NXP Mobile Robotics ELM4 with Sensors.</description>
</model>
