<?xml version="1.0"?>
<model>
  <name>MiniMando</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Benjamin Perseghetti</name>
    <email>bperseghetti@rudislabs.com</email>
  </author>
  <description>Model of NXP Mobile Robotics "Mini El Mandadero" MiniMando, a multi-purpose ground vehicle chassis with modular payload uppers.</description>
</model>
