<?xml version="1.0"?>
<model>
  <name>CogniPilotLogo</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>
  <author>
    <name>Benjamin Perseghetti</name>
    <email>bperseghetti@rudislabs.com</email>
  </author>
  <description>A model of the CogniPilot Logo.</description>
</model>
